<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <li>
        <a ui-sref="app.similarPatientsMed" class="menu-dropdown">
                <i class="menu-icon fa fa-stethoscope"></i>
                <span class="menu-text"> 医生决策支持 </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.similarPatientsDia">
                    <span class="menu-text">患者群体分析</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="app.populationHealth" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-map-marker"></i>
                <span class="menu-text"> 地理位置分析 </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.populationHealth">
                    <span class="menu-text">地理位置分析</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- /Sidebar Menu -->
